@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-dm-sans), monospace;
}

/* Headings with Playfair */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}


